<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testGitHub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7A8EB071CB5C5CD00C85B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7A8EB1B1CB5C5CD00C85B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7A8EB261CB5C5CE00C85B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
